body {
  text-align: center;
  height: 100vh;
  overflow-y: hidden;
}

.logo {
  width: 15vw;
  margin: 0 auto;
}

.login-title {
  font-size: 2rem;
  font-weight: bolder;
}

.main {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.sub-main {
  display: flex;
  width: 50vw;
  justify-content: center;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  border-radius: 60px;
  background-color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

button{
    cursor: pointer;
}

.button {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.btn-primary {
  background-color: rgb(73, 180, 230);
  color: black;
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  border: 6px solid transparent;
  font-weight: bold;
  padding: 0.2rem 3rem;
  border-radius: 30px;
  transition: transform 0.4s;
}

.btn-primary:hover {
  transform: scale(1.1);
  color: black;
}

.btn:hover {
  background: #0d5f0d;
  color: black;
  border-color: transparent;
  transform: scale(1.1);
}

input {
  text-align: center;
  width: 80%;
  padding: 0.5rem;
  border-radius: 1.5rem;
  background: rgb(230, 230, 230);
  font-size: 1rem;
  margin: 0.3rem 0;
  text-align: left;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

.signup  {
    margin: 1rem auto;
  }

.signup small {
  font-style: italic;
}

.signup span {
  color: #0d5f0d;
  font-style: normal;
  text-decoration: line-through;
}

.signup button {
  background-color: rgb(13, 112, 71);
  color: black;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  border: 6px solid transparent;
  font-weight: bold;
  border-radius: 30px;
  transition: transform 0.4s;
}

.copyright {
  color: black;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.copyright span {
  color: rgb(7, 100, 7);
  font-style: italic;
}
